.chekboxContainer.marginBottomExtra {
  margin-bottom: 2rem;
}
.chekboxContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  text-align: left;
  margin-bottom: 2rem;
}
.chekboxContainer label,
.radioContainer label {
  cursor: pointer;
  line-height: 1.6em;
  padding-left: 1.8em;
  vertical-align: top;
  color: #000;
}

.chekboxContainer .checkbox {
  position: absolute;
  visibility: hidden;
}
.chekboxContainer span {
  color: #000;
  padding-left: 2em;
  font-size: 0.9em;
}
.chekboxContainer label::before,
.chekboxContainer label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.chekboxContainer label::before {
  width: 1.1em;
  height: 1.1em;
  border: 2px solid #202020;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background 0.3s;
}
.chekboxContainer input[type="checkbox"]:checked + label::before {
  background-color: #202020;
}
.chekboxContainer input[type="checkbox"]:checked + label::after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.6em;
  height: 0.4em;
  border: 0.12em solid #fff;
  border-top-style: none;
  border-right-style: none;
}