.bubble-message {
	background-color: #fff;
	/* background-color: #ffe04f; */
	border: 0;
	padding: 10px 25px;
	position: relative;
	/* border-bottom: 1px rgba(0 0 0 / 30%) solid; */
	border-radius: 8px;
	margin-left: 1rem;
	box-shadow: 0 3px 11px -5px rgba(0 0 0 / 30%);
}
.left:before {
	content: "";
	left: -20px;
	position: absolute;
	/* border-color: transparent rgba(0 0 0 / 30%) transparent transparent; */
	/* border-color: transparent #ffe04f transparent transparent; */
	box-shadow: 0 3px 11px -5px rgba(0 0 0 / 30%);
	/* border-style: solid;
	border-width: 10px; */
	border-top: 15px solid rgba(0,0,0,0);
    border-right: 20px solid #00d1ff ; 
    left: -15px;
}
