.container {
  width: 100%;
  color: white;
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

.progressbar {
  counter-reset: step;
  display: flex;
  width: 100%;
  padding: 0;
}

.progressbar li {
  position: relative;
  list-style: none;
  text-align: center;
  flex: 1;
}

.progressbar li span {
  color: black;
}
/* Circles */
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  border: 1px solid #FF9100;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #FF9100;
   
  /* Center # in circle */
  line-height: 39px;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: orange ;
  top: 20px; /*half of height Parent (li) */
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active:before {
  background: #00E676;
  border-color: #00E676;
  content: "✔";  
}

.progressbar li.active + li:after {
  background: #00E676;
}